.spinner {
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: white;
}

.spinner .loading-image {
  width: 100px;
}

.add-task {
  top: 20px;
  right: 40px;
}

.badge-pill {
  height: 1rem;
}

.badge {
  padding-top: 0.20rem;
}

.task-item-sidebar-form {
  height: 100vh;
  background-color: rgb(240, 240, 240);
}

.alert-danger {
  position: absolute;
  top: -47px;
  width: 75vw;
  left: 0;
}

.jumbotron-copy {
  padding-top: 10%;
}
